h1{
    padding-top: 1.5rem;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
/* card style */
.card-conatiner{
    /* margin: 3.5rem 0; */
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}